* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;

  /*background-color: #18191A; color para modo oscuro*/
}

/*Seccion Header, logo y foto de perfil*/
header {
  background-color: #112336;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  height: 70px; /* ---anchura de la cabecera--- */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  z-index: 10; /* los elementos con mayor valor z-index cubren aquellos con menor valor. */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.dropdown {
  background-color: transparent;
  color: #ffff;
}
.logo {
  margin: auto;
  margin-left: 50px;
  color: #ffff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.logo:hover {
  cursor: pointer;
  color: #ffff;
}
.imagenLogo {
  height: 50px;
  margin-top: -5px;
}

.contenedor-perfil-flecha {
  display: flex;
  margin-right: 60px;
  margin-top: 0px;
}

.fotoDePerfil {
  height: 40px;
  border-radius: 40px;
}
.dropdown-menu button a {
  color: #000;
  text-decoration: none;
}
/*   ------ TERMINA EL HEADER--------- */

/*Navabar*/

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 70px;
  background: #f2efef;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 190px;
}

.sidebar #btn {
  position: absolute;
  cursor: pointer;
  color: #112336;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 60px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
}
.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 150px;
}
.sidebar ul li {
  position: relative;
  height: 100px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 60px;
  top: auto;
  border-radius: 6px;
  height: 35px;
  width: 110px;
  background: rgb(201, 199, 199);
  line-height: 35px;
  text-align: center;
  opacity: 0;
  font-weight: bold;
}
.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
}

.sidebar ul li a {
  color: #112336;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: rgb(255, 255, 255);
  background: #112336;
  font-weight: bold;
  margin-right: 5px;
}

.sidebar ul li a i {
  height: 45px;
  min-width: 35px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .icon-name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .icon-name {
  opacity: 1;
  pointer-events: auto;
}

/*------------------ estilo del cuadro de busqueda ------------*/
.contenedor1 {
  /* contenedor del cuadro de busqueda */
  /* atribustos para ocultar la caja */
  opacity: 0; /*  esto lo hace transparente */
  visibility: hidden; /* esto lo oculta */
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: Flex;
  justify-content: center;
  align-items: center;
}
.buscador1 {
  width: 230px;
  height: 150px;
  margin: 0 auto;
  /* margin-top: 100px; */ /* mantiene el centrado */
  padding: 15px;
  box-shadow: 0px 6px 16px rgba(248, 248, 248, 0.651);
  border-radius: 20px;
  /* animacion */
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}

.busc-close {
  transform: translateY(-400%);
}

::placeholder {
  display: inline;
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin: auto;
}
.entrada-busqueda1 {
  width: 90%;
  height: 20px;
  margin-top: 20%;
  margin-left: 5%;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-radius: 20px;
  border: 1px solid rgb(160, 159, 159);
}
h4 {
  margin-left: 140px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.boton-buscar1 {
  width: 30%;
  height: 20%;
  margin-left: 35%;
  color: #fff;
  background-color: #112336;
  border: none;
  border-radius: 20px;
}
.boton-buscar1:hover {
  cursor: pointer;
}

.form-control {
  margin-left: -7px;
}

/* ------------------------fin del cuadro de busqueda ------------------------------ */

/*Main, seccion noticias y busqueda*/

.content-inicio {
  margin-top: 4%;
  margin-left: 75px;
  display: flex;
  height: max-content;
  width: 100%;
}
main {
  box-shadow: 0px 6px 16px rgba(219, 222, 226, 0.761);
  background: #ffffff;
  background: -webkit-linear-gradient(to bottom, #ffff);
  background: linear-gradient(to bottom, #ffff);
  width: 50%;
  margin: 0 12%;
  margin-top: 70px;
  margin-right: 3%;
  height: auto;
}
.contenedorBuscador {
  margin-top: 30px;
  font-size: 80%;
  text-align: center;
}

.buscador {
  width: 26%;
  border-radius: 15px;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 2px 2px rgba(98, 100, 108, 0.5);
}
.bi-search {
  margin-left: 7px;
}

.card img {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-left: 7%;
  margin-top: 1%;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  width: 88%;
  margin: 20px auto;
  padding-bottom: 2rem;
}

.container-archivo {
  float: left;
  width: 350px;
  height: auto;
  margin-top: -1.5em;
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 10px;
  margin-left: 0;
}

.archivo {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.archivo img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.archivo video {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.card-body {
  float: left;
  width: 650px;
  height: 150px;
  margin-left: -10em;
  background-color: white;
  margin-top: 50px;
}

.container-imagen {
  width: 185px;
  height: auto;
  padding: auto;
  cursor: pointer;
}

.top-card img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin: 0px;
  margin-top: -325px;
}

.card-title {
  width: 550px;
  height: auto;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-top: -10px;
  text-align: start;
  font-weight: 600;
  color: #112336;
}

.card-text-descripcion {
  float: left;
  text-align: justify;
  width: 600px;
  height: auto;
  font-weight: 300;
  font-size: 1.1em;
  color: #000;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  height: 50px;
}

.user-info img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: -2px;
  margin-top: -16px;
  cursor: pointer;
}
.name_user {
  height: 30px;
  width: 100px;
  margin-left: 8px;
  margin-top: -1em;
  font-size: 1.1em;
  padding: auto;
}

.name {
  color: #2752b1;
}

#icon {
  width: 150px;
  height: 4em;
  padding-bottom: 3em;
}

.col {
  float: right;
  margin-right: -50px;
  margin-top: -59px;
  width: 100px;
  font-size: 32px;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: #163780;
}

.bg-light {
  width: 510px;
}

.form-control {
  width: 480px;
}

#myGroup {
  margin-left: 45px;
  width: -700px;
}

.textarea {
  left: auto;
  display: flex;
}

.like {
  margin-top: 0;
  margin-left: -3em;
  float: left;
}

.comentar {
  margin-top: -2px;
}

.card-text {
  position: relative;
  width: 100px;
  margin: 0;
  margin-left: -100px;
  margin-top: 20px;
  color: #0c0c2b;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.containerBr {
  background-color: tomato;
}

#collapse-1 {
  width: 700px;
}

.form-control-comment {
  float: left;
  width: 420px;
  height: 32px;
  margin-top: 1em;
  margin-bottom: 3em;
  border-radius: 19px;
  margin-left: 1em;
}

.boton {
  float: left;
  width: 100px;
  height: 49px;
  margin-top: -1px;
}

.btn-uno {
  width: 83px;
  height: 32px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 1em;
  margin-right: 60px;
}

.loading {
  opacity: 30px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-left: 10em;
  transform: translateX(-10%);
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: rgb(17, 35, 54);
  border-radius: 50%;
  margin: 5px;
  height: 8px;
  width: 8px;
  animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/*Seccion trabajos*/

aside {
  box-shadow: 0px 6px 16px rgba(237, 239, 247, 0.761);
  height: 950px;
  width: 15%;
  margin-right: 70px;
  display: inline-block;
  margin-top: 4em;
  margin-left: 10em;
  scroll-behavior: auto;
}

.card-titulo-menu {
  width: 75%;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 0.5px solid #428bda;
}

.card-text-menu {
  text-align: center;
  width: 170px;
  font-size: 0.9em;
  margin-right: -68px;
  margin-top: 2px;
  font-weight: 800;
}

.card-principal {
  width: 76%;
  height: 170px;
  margin-left: 25px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 16px rgba(224, 224, 226, 0.761);
}

.container-img {
  margin-left: 13px;
  width: 150px;
  height: 77px;
  padding-top: 0.2em;
}

.container-img img {
  width: 100%;
  height: 100%;
  margin-left: 1px;
  border-radius: 10px;
}

.card-title-trabajo {
  width: 150px;
  margin-top: 10px;
  font-family: sans-serif;
  margin-left: 6px;
  font-size: 0.8em;
}

.card-text-trabajo {
  float: right;
  width: 170px;
  font-size: 0.8em;
  margin-right: -68px;
}

/*------------------ estilo del cuadro de busqueda --------------------------*/
.contenedor1 {
  /* contenedor del cuadro de busqueda */
  /* atribustos para ocultar la caja */
  opacity: 0; /*  esto lo hace transparente */
  visibility: hidden; /* esto lo oculta */
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: Flex;
  justify-content: center;
  align-items: center;
}
.buscador1 {
  width: 230px;
  height: 150px;
  margin: 0 auto;
  /* margin-top: 100px; */ /* mantiene el centrado */
  padding: 15px;
  box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 20px;
  /* animacion */
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}
.busc-close {
  transform: translateY(-400%);
}
.entrada-busqueda1 {
  width: 90%;
  height: 20px;
  margin-top: 20%;
  margin-left: 5%;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-radius: 20px;
  border: 1px solid rgb(160, 159, 159);
}
.boton-buscar1 {
  width: 30%;
  height: 20%;
  margin-left: 35%;
  color: #fff;
  background-color: #112336;
  border: none;
  border-radius: 20px;
}
.boton-buscar1:hover {
  cursor: pointer;
}

/* ------------------------fin del cuadro de busqueda ------------------------------ */

/* Para 960px */
@media only screen and (max-width: 1800px) and (min-width: 1221px) {
}
