*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;

    /*background-color: #18191A; color para modo oscuro*/
}

header{
    background-color: #112336;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    height: 80px; /* ---anchura de la cabecera--- */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 10;  /* los elementos con mayor valor z-index cubren aquellos con menor valor. */
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.dropdown{
    
    background-color: transparent;
    color: #ffff;
}

.logo{
    margin: auto;
    margin-left: 50px;
    color: #ffff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.logo:hover{
    cursor: pointer;
    color: #ffff;
}
.imagenLogo{
    height: 40px;
    margin-top: -2px;
}
.contenedor-perfil-flecha{
    display: flex;
    margin-right: 99px;
    margin-top: 9px;
}

.fotoDePerfil{
    height: 40px;
    border-radius: 40px;
}
.dropdown-menu button a{
    color: #000;
    text-decoration: none;
}

/*   ------ TERMINA EL HEADER--------- */

/*Navabar*/

.sidebar{
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 70px;
    background: #F2EFEF;
    padding: 6px 14px;
    transition: all 0.5s ease; 
}

.sidebar.active{
    width: 190px;
}

.sidebar #btn{
    position: absolute;
    cursor: pointer;
    color: #112336;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 60px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}
.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
margin-top: 150px;
}

.sidebar ul li{ 
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 60px;
    top: auto;
    border-radius: 6px;
    height: 35px;
    width: 110px;
    background: rgb(201, 199, 199);
    line-height: 35px;
    text-align: center;
    opacity: 0;
    font-weight: bold;
}
.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
}

.sidebar ul li a{
    color: #112336;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}


.sidebar ul li a:hover{
    color: rgb(255, 255, 255);  
    background: #112336;
    font-weight: bold;
    margin-right: 5px;
}

.sidebar ul li a i{
    height: 45px;
    min-width: 35px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}


.sidebar .icon-name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .icon-name{
    opacity: 1;
    pointer-events: auto;
}
section{
    display: flex;
    flex-wrap: wrap;
}


/*Portada*/
.portada{
    position: absolute;
    box-shadow: 0 20px 40px 0 rgba(204, 204, 204, 0.1);
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit:contain;
    z-index: -1;
}
.portada img{
    width: 100%;
}
.boton-portada{
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 210px;
    left: 1850px;
}
.boton-portada button{
    background-color: transparent;
    border: none;
}
.boton-portada button img{
    width: 20px;
}
/*foto de perfil*/
.foto-perfil{
    border: none;
    border-radius: 20px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    top: 140px;
    left: 200px;
}
.foto-perfil img{
    width: 160px;
}
.nombre{
    color: #fff;
    font-size: 27px;
    position: relative;
    left: 390px;
    width: 500px;
    box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
    top:11px;
}
.nombre h1 {
    font-weight: 700;
}
.nombre_size{
    text-align: justify;
}
.letra_subtitulo{
    text-align: justify;
}

/*Contenedor datos de usuario*/

.sub-datos{
    font-weight: 600;
    font-size: 14px;
}
.info{
    font-size: 12px;
}
.list-habilidades{
    list-style: none;
}



/*contenedor de descripcion,proyectos y iconos*/
.container_grupo_containers{
    display: grid;
    grid-template-columns: 17% 55% 28%;
    margin-left: 4rem;
    padding-top: 4rem;
    padding-left: 7rem;
}

.no-margin{
    margin: 0;
}

/*contenedor de datos*/
.container_principal_1{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    padding:30px 40px;
    box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
    width: 70%;
    border-radius: 20px;
}




/*contenedor de proyectos*/
.container_principal{
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    padding:30px 40px;
    box-shadow: 0px 6px 16px rgba(98, 100, 108, 0.5);
    width: 97%;
    border-radius: 20px;
}

/*responsive de container datos*/

@media (max-width: 1600px ) {
    .container_grupo_containers{
        margin-left: 5rem;
    }
    .container_principal_1{
        width: 90%;
        margin-left: 0rem;
    }
}

@media (max-width: 1300px ) {
    .container_grupo_containers{
        display: grid;
        grid-template-columns: 100%;
        padding-left: 0rem;
    }
    .container_principal_1{
        width: 70%;
        margin-left: 8rem;
    }
}

@media (max-width: 600px ) {
    .container_principal_1{
        width: 97%;
        margin-left: 0rem;
    }
}

/*container de titulo y carga de proyectos*/
.container_titulo{
    display: grid;
    grid-template-columns: 80% 20%;
    padding-bottom: 1rem;
}

h1{
    padding-top: 0rem;
    text-align: center;
}

.upload{
    margin-top: 1rem;
    width: 40px;
    height: 40px;
    padding-top: 1rem;
}

.container{
    padding-top: 1rem;
}

/*container proyecto y fotos*/

.container-b{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.container-b .box{

    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.container-b .box .imgBox{

    margin-right: 20px;
    border-radius: 20px;
}


.container-b .box .imgBox img{

    width: 100px;
    transition: transform 2s;
    cursor: pointer;
}

.container-b .box:hover .imgBox img{

    transform: scale(1.5);
}

.container-b .box .description{
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 80px;
    right: 20px;
    height: 80%;
    background: rgba(255, 255, 255, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
    border-radius: 20px;
}

.container-b .box:hover .description{

    transform: scaleY(1);
}

.container-b .box .description .content{

    position: absolute;
    top: 30px;
    transform: translateY(-50px);
    font-size: 13px;
    padding: 15px;
    color: #000;

}

.container-b .box .description .content h2{
margin: 10px 0 0;
margin-bottom: 5px;
padding: 0;
font-size: 20px;
color:#112336;
font-family: sans-serif;
}

@media all and (min-width:500px){

    .container-b .box .imgBox img{


    }
}

@media all and (max-width: 500px){

    .container-b{
    
        height: 3500px;
    }


   .container-b .box{
        width: 550px;
        height: 90;
        margin: 50px;
        display: flex;
        flex-direction: row;
    }

    .container-b .box .description{
        margin-bottom: -50px;
        margin-top: -30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-b .box .description .content{
        font-size: 25px;

    }

    .container-b .box .description .content h2{
        margin-top: -30px;
        font-size: 35px;
    }

}

@media (min-width:450px ) {
    .container-b{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container-b .box .imgBox img{

        width: 200px;
        transition: transform 2s;
        cursor: pointer;
    }

    
}

@media (min-width:900px ) {
    .container-b{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .container-b .box .imgBox img{

        width: 200px;
        transition: transform 2s;
        cursor: pointer;
    }
}

h2{
    text-align: center-;
}
p{
    text-align: center;
}






/*Contenedor icono de amigos y mensajes*/
.contenedor-izquierdo{
    height: 100%;
    width: 20%;

}
/*Boton amigos*/
.btn{
    background-color: transparent;
    border:none;
}
.amigos_boton1{
    margin-left: 0px;
}

.lista-amigos{
    list-style: none;
}
.lista-amigos li{
    margin-bottom: 7px;
}
.lista-amigos li a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
.lista-amigos li img{
    border-radius: 20px;
}
.card{
    width: 250px;
}
/*Boton mensajes*/
.boton-mensajes{
    position: relative;
    bottom: 52px;
    margin-left: 70px;
}
.body-mensajes{
    position: relative;
    bottom: 52px;
    width: 320px;
}
.foto-chat{
    border-radius: 20px;
    margin-right: 15px;
}
.color-alerta{
    background-color:#ff5e62;
}

@media (max-width: 1300px ) {
    .contenedor-izquierdo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .boton-mensajes{
        margin-left: 170px;
    }
}