body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
}

.container-b{
    width: 640px;
    height: 1500px;
    margin: 170px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.container-b .box{

    position: relative;
    width: 300px;
    height: 430px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 40px;
    
}

.container-b .box .imgBox{
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
   

}


.container-b .box .imgBox img{

    max-width: 100%;
    transition: transform 2s;
    cursor: pointer;
}

.container-b .box:hover .imgBox img{

    transform: scale(1.5);
}

.container-b .box .description{
    font-family: Times,;
    position: absolute;
    top: 50px;
    left: 20px;
    bottom: 80px;
    right: 20px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container-b .box:hover .description{

    transform: scaleY(1);
}

.container-b .box .description .content{

    position: absolute;
    top: 90px;
    transform: translateY(-50px);
    font-size: 13px;
    text-align: center;
    padding: 15px;
    color: #fff;

}

.container-b .box .description .content h2{

margin: 10px 0 0;
padding: 0;
font-size: 20px;
color:gold;
font-family: sans-serif;
}

@media all and (min-width:500px){

    .container-b .box .imgBox img{


    }
}

@media all and (max-width: 500px){

    .container-b{
    
        height: 3500px;
    }


   .container-b .box{
        width: 550px;
        height: 90;
        margin: 50px;
        display: flex;
        flex-direction: row;
    }

    .container-b .box .description{
        margin-bottom: -50px;
        margin-top: -30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-b .box .description .content{
        font-size: 25px;

    }

    .container-b .box .description .content h2{
        margin-top: -30px;
        font-size: 35px;
    }

}  
    
